* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #485969;
}

hr {
  border: 1px solid black;
  background-color: black;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 80px;
  width: 100vw;
}

.logo {
  height: 80px;
  width: 80px;
}

.signContainer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin-top: 100px;
  width: auto;
  padding: 18px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.signContainer span {
  color: blue;
  cursor: pointer;
  margin: 0px auto;
}

.signContainer span:hover {
  text-decoration: underline;
}

.container {
  border-radius: 4px;
  margin-top: 50px;
  width: 440px;
  padding: 18px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
}

.transactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.transaction {
  width: 92%;
  padding: 5px 5px;
  display: flex;
  justify-content: inherit;
  font-size: 18px;
  margin-top: 6px;
  background-color: #f2f4f6;
}

.transaction:hover {
  background-color: #e2e4e6;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.input {
  display: block;
  width: 300px;
  padding: 6px 8px;
  font-size: 18px;
  background-color: #eee;
  margin: 5px 0;
}

.delButton {
  background-color: #fff;
  color: rgba(255, 0, 0, 0.1);
  font-size: large;
  font-weight: bolder;
  border: 1px solid rgba(255, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
}

.delButton:hover {
  color: rgba(255, 0, 0);
  border: 1px solid rgba(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}

.button {
  margin: 25px auto;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  border-radius: 6px;
  color: #000;
  height: 25px;
  width: 120px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  padding: 2px 5px;
  border: none;
  border-radius: 2px;
}

.buttons button:hover {
  cursor: pointer;
  background-color: #555;
  color: #fff;
}
